<h1>
    TopGrd
</h1>
<form action="" method="post">
  <p> name: <input type="text" name="name" /></p>
  <p>password: <input type="text" name="password" /></p>
  <input type="submit" value="Submit" />
</form>
